@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


//Colors
$pink: #ff2c6f;
$white: #ffffff;
$black: #1a1a1a;
$light-white: #f9f7f7;
$dark-grey: #808080;
$light-grey: #b4b4b4;

$assetsPath: "/assets";

//Fonts
$sans: 'Open Sans', sans-serif;
